body{
    margin:0;
    background:#eef1f5;
    font-family:Arial, sans-serif;
}

.wrapper{
    display:flex;
}

/* SIDEBAR */

#sidebar{
    width:260px;
    min-height:100vh;
    background:#0d3d79;
    transition:0.3s;
}

#sidebar{
    width:260px;
    min-height:100vh;
    background:#0d3d79;
    transition:0.3s;
    overflow:hidden;
}

.logo{
    width:120px;
    transition:0.3s;
}

#sidebar.hide .logo{
    width:45px;
}

/* SIDEBAR COLAPSADO */

#sidebar.hide{
    width:80px;
}

/* OCULTAR TEXTO */

#sidebar.hide span{
    display:none;
}

/* CENTRAR ICONOS */

#sidebar.hide .menu a{
    justify-content:center;
}

/* LOGO */

#sidebar.hide .logo{
    width:50px;
}

/* TOP LOGO */

#sidebar.hide .sidebar-top{
    display:flex;
    justify-content:center;
}

.logo{
    width:120px;
}

.sidebar-top{
    padding:20px;
}

.menu{
    list-style:none;
    padding:0;
}

.menu li{
    margin:5px 0;
}

.menu a{
    color:white;
    text-decoration:none;
    display:flex;
    align-items:center;
    gap:12px;
    padding:14px 20px;
}

.menu li.active{
    background:#114b95;
}

.menu a:hover{
    background:#114b95;
}

/* MAIN */

.main-content{
    width:100%;
}

/* TOPBAR */

.topbar{
    height:60px;
    background:#0d3d79;
    color:white;
    display:flex;
    align-items:center;
    justify-content:space-between;
    padding:0 25px;
}

.topbar-right{
    display:flex;
    gap:25px;
    align-items:center;
}

.top-item{
    display:flex;
    align-items:center;
    gap:8px;
    font-size:14px;
}

.menu-toggle{
    background:none;
    border:none;
    color:white;
    font-size:24px;
}

/* CONTENIDO */

.contenido{
    padding:40px;
}

.titulo{
    font-size:40px;
    font-weight:bold;
    margin-bottom:30px;
}

/* BLOQUES */

.bloque{
    background:white;
    padding:25px;
    border-top:4px solid #1e88e5;
}

.bloque-header{
    display:flex;
    justify-content:space-between;
    cursor:pointer;
}

.bloque label{
    font-size:14px;
    font-weight:bold;
    color:#0d3d79;
}

.form-select{
    height:50px;
}

.btn-buscar{
    background:#16c1f3;
    color:white;
    height:50px;
}

.resultado-title{
    margin-top:30px;
    font-weight:bold;
    color:#0d3d79;
}

.tabla-resultados thead{
    background:#b8ecfa;
}

.tabla-resultados{
    margin-top:15px;
}

/* BOTONES */

.acciones{
    margin-top:40px;
    display:flex;
    justify-content:flex-end;
    gap:20px;
}

.btn-atras{
    width:200px;
    height:55px;
    border:2px solid #0d3d79;
}

.btn-generar{
    width:260px;
    height:55px;
    background:#2f5fa9;
    color:white;
}

/* MODAL */

.modal-custom{
    border-radius:20px;
    padding:30px;
}

.success-icon{
    font-size:70px;
    color:#34a853;
    margin-bottom:20px;
}

.btn:disabled{
    opacity: 0.5;
    cursor: not-allowed;
}

/* =========================================
   MODAL PDF
========================================= */

.pdf-modal-content{
    border-radius: 18px;
    overflow: hidden;
    border: none;
}

.pdf-header{
    background: #0f3b75;
    color: white;

    padding: 16px 24px;

    display: flex;
    justify-content: space-between;
    align-items: center;
}

.pdf-header h5{
    margin: 0;
    font-size: 20px;
    font-weight: 700;
}

.pdf-frame{
    width: 100%;
    height: 80vh;
    display: block;
}

.modal-behind{
    opacity: .3;
}



/* RESPONSIVE */

@media(max-width:992px){

    #sidebar{
        position:fixed;
        z-index:999;
    }

    .topbar-right{
        gap:10px;
        font-size:12px;
    }

    .titulo{
        font-size:28px;
    }


}